.center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  position: absolute;
  background: #fff;
  overflow: auto;
  outline: none;
  padding: 3em 2.5em;

  z-index: 9999;
}

.modal * {
  outline: none;
  border: none;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
  
  z-index: 9998;
}