.cal { 
  padding: 0.5em;
}

.cal-cell {
  width: 14.28%; 
  height: 100%;
}

.cal-date:hover,
.cal-prev:hover,
.cal-fwd:hover {
  background-color: aquamarine;
}

.cal-dates > div {
  height: 20%;
}

.cal-nav {
  justify-content: space-between;
}