.navbar {
  height: 50px;
  width: 100%;
  position: fixed;
  z-index: 2;

  justify-content: space-between;
}

.navbar * {
  font-size: 1em;
  outline: none;
}

.navbar > section {
  width: 10em;
  height: 100%;
}

.navbar-center > h3 {
  font-family: 'Pacifico', cursive;
  text-shadow: 2px 2px dimgray;
}

.navbar-right > * {
  margin: 0 0.15em;
}

.navbar-right > button {
  background-color: transparent;
  border: none;
}

.navbar-right > button:hover > h3 {
  color: aqua;
}

.nav-background {
  background-color: mediumaquamarine;
}

.no-background {
  background-color: none;
}