.session-form {
  height: 100%;
  width: 100%;
}
  
.session-form > * {
  margin: 1.15em 0;
}

.session-form-header > * {
  margin: 0.5em 0;
}

.session-form-inputs > * {
  margin: 0.5em 0;
}

.session-form-footer > * {
  margin: 0.25em 0;
}

.session-form input {
  width: 20em;
  height: 3em;
  color: black;
  text-align: left;
  padding: 0 1em;
}

.session-form button {
  color: black;
  font-size: 1em;
  padding: 0.5em 0.75em;
}

.session-form-header > img {
  height: 3em;
  width: 3em;
}

.session-form-header > h3 {
  font-size: 1.5em;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  color: black;
}
